<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/playerstyle.css">
    <title>HALLO</title>
</head>
<body>
    <p id="userName">player</p>
    <p id="impostorornot">Dit zijn jouw taken:</p>

    <div id="tasks"></div>

    <section id="codeContainer">
        <form id="taskCodeContainer" action="#" onsubmit="checkTask();return false">
            <input type="number" id="taskCode" placeholder="0000">
            <input type="submit" id="taskCheck" value="check">
        </form>
        <button onclick="sabotage()" id="sabotageButton">Saboteer</button>
        <button onclick="reportBody()">Rapporteer lichaam</button>
    </section>

    <script src="/socket.io/socket.io.js"></script>
    <script>
        var path = window.location.pathname.split('/')
        var userName = path[path.length-1];
        var userIndex = 0;
        if(userName.length == 0) {
            location.replace("/player")
        }
        document.querySelector("#userName").innerHTML=userName;

        var tasks = null;
        var impostor = false;

        const socket = io.connect(window.location.host);
        socket.on('connect', (data) => {
            console.log('Connected to server');
            socket.emit('requestJoin', userName);
        });
        socket.on('returnJoin', (data) => {
            userIndex = data;
            console.log("User ID: " + userIndex)
        });
        socket.on('returnTask', (data, done) => {
            console.log(data);
            var htmlId = "task"+data.index;
            if(document.querySelector("#"+htmlId) == null) {
                var e = document.createElement('p');
                e.innerHTML=data.name;
                e.setAttribute("id", htmlId);
                e.setAttribute("class", "taskP");
                document.querySelector("#tasks").appendChild(e);
            }
            if(done) document.querySelector("#"+htmlId).style.color = "00ff00";
            else document.querySelector("#"+htmlId).style.color = "ff0000";
        });
        socket.on('gameRestart', (data) => {
            console.log("Game restarted");
            socket.emit('requestJoin', userName);
        });
        socket.on('gameStart', (data) => {
            console.log("Game started");
            console.log("Impostor: " + data.impostor);
            impostor = data.impostor;
            if(data.impostor) {
                document.getElementById("impostorornot").innerHTML = "Jij bent de <span class=\"cred\">saboteur</span>, saboteer en vermoord"
                document.querySelector("#taskCodeContainer").style.display = "none";
                document.querySelector("#sabotageButton").style.display = "inherit";
            }
            else  {
                document.getElementById("impostorornot").innerHTML = "Jij bent de <span class=\"cred\">onschuldig</span>, dit zijn jouw taken:"

                document.querySelector("#taskCodeContainer").style.display = "inherit";
                document.querySelector("#sabotageButton").style.display = "none";
            }


            document.querySelector("#tasks").innerHTML="";
            console.log("Tasks: " + data.tasks);
            tasks = data.tasks;
            tasks.forEach(element => {
                socket.emit('getTask', element.taskId);
            });
        });
        socket.on('reportBody', (data) => {
            location.replace("/player/"+userName+"/reported");
        });

        var invokeInit = () => {
            socket.emit('invokeInit', 0);
        }
        var invokeStart = (im, ta) => {
            socket.emit('invokeStart', im, ta);
        }
        var checkTask = () => {
            code = document.querySelector("#taskCode").value;
            document.querySelector("#taskCode").value = null;
            socket.emit('checkTask', code);
        }
        var reportBody = () => {
            socket.emit('reportBody');
        }

        var sabotage = () => {
            socket.emit('requestMeltdown');
        }
    </script>
</body>
</html>