<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DE PLAYERS</title>
</head>
<body>
    <p><a href="/player/piet">PIET</a></p>
    <p><a href="/player/bertha">BERTHA</a></p>
    <p><a href="/player/robert">ROBERT</a></p>
    <p><a href="/player/jennet">JENNET</a></p>
    <p><a href="/player/tanja">TANJA</a></p>
    <p><a href="/player/gert">GERT</a></p>
    <p><a href="/player/mireille">MIREILLE</a></p>
    <p><a href="/player/marloes">MARLOES</a></p>
    <p><a href="/player/esther">ESTHER</a></p>
    <p><a href="/player/merel">MEREL</a></p>
    <p><a href="/player/niels">NIELS</a></p>
    
</body>
</html>